* {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

h1 {
    background-color: #cef2ff;
    padding: 10px 0;
    text-align: center;
}

button {
    cursor: pointer;
}

.btn-container {
    margin-top: 100px;
    display: flex block;
    justify-content: center;
}

.btn {
    font-size: 40px;
    font-weight: bold;
    background-color: #7bdcff;
    padding: 30px;
    border: 0 solid #000000;
    border-radius: 20px;
    cursor: pointer;
}
